/* 
* @Author: anchen
* @Date:   2016-11-07 20:25:04
* @Last Modified by:   anchen
* @Last Modified time: 2016-11-08 15:28:35
*/
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
img{border: 0; display: block;}

/*一层 顶部样式*/
.top_top{height: 38px;width:100%;background:black;}
.top{width: 1200px;margin:0 auto;height: 38px;}
.top_left{float: left;}
.top_left li{float:left;}
.top_left li a,.top_right li a{font-size:14px; color: #fff;line-height: 38px;padding:0 10px;border-right: 1px solid #fff;}
.top_left li a:hover:hover,.top_right li a:hover{font-size:14px; color: red;line-height: 38px;}
.top_left .left_last,.top_right .right_last{border-right: none;}
.top_right{float: right;}
.top_right li{float:left;}

/*登录 注册*/
 .enter{width: 430px; height: 340px;background: #fff; position: fixed;z-index: 10; display: none;}
.bg_black{height: 40px; background: black;}
.common{display: inline-block; font-size: 14px; width: 215px; color: #f30003; text-align: center; height: 37px ; line-height: 37px; border-bottom: 3px solid #f30003;float:left;}
.shortcut{display: inline-block; font-size: 14px; width: 215px; color: #c4c4c4; text-align: center; height: 37px ; line-height: 37px;float:right;}
.username{width: 330px; height: 34px; margin:39px 0 0 48px;border:1px solid #c4c4c4;overflow: hidden;}
.username_name,.password_word{float:left ;height:34px; width: 34px; border-right: 1px solid #c4c4c4;text-align: center;}
.username_name img,.password_word img{margin-top: 7px;}
.password{width: 330px; height: 34px; margin:5px 0 0 48px;border:1px solid #c4c4c4; overflow: hidden;}
.hint1, .hint2{margin-left: 48px; height: 22px; width: 330px; color: red; font-size: 12px;}
.check{margin-left: 48px;}

.enter_p{margin-left: 48px; margin-top:6px;width:330px; height: 26px; background: #ef1c22; font-size: 14px; color: #fff; text-align: center; line-height: 26px;cursor: pointer;}
.more_p{margin:6px 0 0 48px; width: 330px; height:16px;}
/*定位关闭按钮*/
.enter_close{font-size: 24px; color: #8d8d8d; position: absolute; top: 5px; right: 10px;}


/**************************注册**********/
.login{width: 430px; height: 400px; position: fixed; background: #fff; z-index: 20; display: none;}

.close2{font-size: 24px; color: #8d8d8d; position: absolute; top: 5px; right: 10px;}
.login .tit{height: 38px; line-height: 38px; font-size: 20px; color: #fff; background: #000;}
.div1{border: 1px solid #bec2cd; margin-top: 15px;margin-left: 35px;width: 331px; height: 28px;}
.div1 p{width: 80px; float: left; border-right: 1px solid #bec2cd; height: 28px; line-height: 28px; text-align:center; font-size: 14px;}
#in_zhanghao{width: 250px; height: 28px; line-height: 28px; border: none; outline: none;}

.div2{border: 1px solid #bec2cd; margin-top: 15px;margin-left: 35px;width: 331px; height: 28px; margin-top: 30px;}
.div2 p{width: 80px; float: left; border-right: 1px solid #bec2cd; height: 28px; line-height: 28px; text-align:center; font-size: 14px;}
#in_mima1{width: 250px; height: 28px; line-height: 28px; border: none; outline: none;}

.div3{border: 1px solid #bec2cd; margin-top: 15px;margin-left: 35px;width: 331px; height: 28px; margin-top: 30px;}
.div3 p{width: 80px; float: left; border-right: 1px solid #bec2cd; height: 28px; line-height: 28px; text-align:center; font-size: 14px;}
#in_mima2{width: 250px; height: 28px; line-height: 28px; border: none; outline: none;}

.div4{border: 1px solid #bec2cd; margin-top: 15px;margin-left: 35px;width: 331px; height: 28px; margin-top: 30px;}
.div4 p{width: 80px; float: left; border-right: 1px solid #bec2cd; height: 28px; line-height: 28px; text-align:center; font-size: 14px; }
#in_yanzheng{width: 168px; height: 28px; line-height: 28px; border: none; outline: none; float: left;}

.div5{margin-top: 15px;margin-left: 35px;width: 331px; height: 28px; margin-top: 30px;}
.zhuce{margin-top: 15px;margin-left: 35px;width: 331px; height: 28px; margin-top: 30px; text-align: center; background: #eb1e23; line-height: 28px; color: #fff; cursor: pointer;}



/*三层搜索横向兰*/

.seek_seek{height: 67px; width: 100%;position:absolute;}
 .seek{height:67px; width:1200px; margin:0 auto;}
 .seek .h3-1{height:38px; width:111px; background: #e22118; line-height: 38px; text-align: center; color: #fff; float: left;margin-top:30px;}
.seek .h3-2{height:38px; line-height: 38px;width: 111px; text-align: center; color: #000; float: left; margin-top: 30px;}

.seekright{width:690px; height:38px; margin-top: 30px; float: right; border:1px solid #d2d2d2;}
.seekright .dom{width:600px; height: 36px; float: left; outline: none;border: none;display:inline-block;padding-left: 20px;}
.seekright .prompt{width: 224px; height: 36px;position:absolute;text-align:center;line-height:36px;margin-left: 400px;}
.seekright .prompt a{width:63px; height: 18px;display: inline-block; line-height: 18px; font-size: 14px; background: #eee; color: #707070;margin-left: 5px;}
.seekright .prompt a:hover{color: #fff; background: #e3221b;}
.seekright div{display:inline-block;float: right;width:61px; height: 38px; overflow: hidden;}

/*4F*********************四层新人礼包导航栏*********************/
.nav_nav{height: 56px; width: 100%;}
.nav{height: 56px; width: 1200px; margin: 68px auto; }
.nav li{float: left; font-size: 18px; line-height: 56px; padding-left: 50px;}
.nav li a{color: #000; font-weight:900;}
.nav li a:hover{color: #e22118;}


/**********************购物车**********************************/
.shopping{}
#box{
            width:1200px;
            margin:20px auto;
            border:1px solid #cccccc;
        }
        .header{
            overflow:hidden;
        }
        .header li{
            float:left;
            width:300px;
            text-align:center;
            line-height:40px;
            border-bottom:1px solid #cccccc;
        }
        #goodsList{
            padding: 30px 0;
            border-bottom:1px solid #cccccc;
        }
        #goodsList p{
            text-align:center;
            font-size:20px;
        }
        #goodsList p a{
            color:#33cc00;
        }
        .footer{
            padding:10px 0;
            overflow:hidden;
        }
        .footer span,.footer input{
            float:right;
            margin-right:10px;
        }
        .footer input{
            width:80px;
            height:30px;
            border:0;
            background:red;
            color:#ffffff;
            font-size:20px;
            border-radius:4px;
            outline:none;
        }
        .footer span{
            font-size:20px;
            padding:5px 0;
            color:red;
        }
        .footer span em{
            font-style:normal;
        }
        #goodsList dl{
            overflow:hidden;
            padding:10px 0;
            border-bottom:1px solid #ccc;
        }
        #goodsList dl dt,#goodsList dl dd{
            float:left;
        }
        #goodsList dl dt{
            width:180px;
            height:60px;
        }
        #goodsList dl dt input{
            display:inline-block;
        }
        #goodsList dl dt a{
            width:160px;
            height:60px;
            display:inline-block;
            font-size:14px;
        }
        #goodsList dl dt img{
            width:60px;
            height:60px;
            display:block;
            border:0;
            float:left;
        }
        #goodsList dl dt span{
            float:left;
            width:100px;
        }
        #goodsList dl dd{
            line-height:60px;
        }
        .oSize{
            width:181px;
            text-align:center;
            margin-left:171px;
        }
        .oNumber{
            width:196px;
            text-align:center;
            margin-left:120px;
        }
        .oPrice{
            width:60px;
            text-align:center;
            margin-left:180px;
        }
        #goodsList dl .oDelet{
            font-size:14px;
            background:red;
            color:#ffffff;
            border-radius:3px;
            line-height:30px;
            margin-top:14px;
            cursor:pointer;
        }

.dom{height: 350px;}
.nnn{width: 1200px; height: 350px;margin: 0 auto; border: 1px solid #d9d8d6;}
.nnn .aa{width: 1200px; height: 32px; border-bottom: 1px solid #d9d8d6;}
.nnn .aa p{float: left; width: 100px; line-height: 32px; margin-left: 20px;}
.nnn .aa span{display: inline; float: right; line-height: 32px; margin-right: 20px; }
#right,#left{width: 20px; height: 20px;}

.play{width: 1200px;height: 317px; position: relative; overflow: hidden;}
.play ul {height: 317px; position: absolute; top: 0; left: 0; z-index: 2;}
.play ul li{float: left; width: 300px;  height: 317px; text-align: center; }
.play ul li img{width: 200px; height: 200px;padding-left: 50px; }
.play ul li p{font-size: 14px; margin-top: 15px;}
.play ul li .p1 a{color:#000;}
.play ul li .p1 a:hover{color: red;}
.play ul li .p3{width: 84px; height: 24px; background: red; line-height: 24px; margin-left: 105px;}
.play ul li .p3 a{color: #fff; text-align:center;}


/**********底部*********/
.bottom1{height: 230px; }
.bottom{width: 1200px; margin: 0 auto; margin-top: 50px;}
.bottom p{height: 83px;}

.char ul{margin-left: 160px; float: left;}
.char .u-1{margin-left: 0px;}
.char li a{color: #999;}

/***************************结束************/
.over1{height: 90px;}
.over{height: 90px; width: 1200px; margin: 0 auto;}
.over p{text-align: center;}
.over p a{color: #6e6e6e; font-size: 14px; padding:0 15px;}